<div class="background-container">
    <div class="content-container">
      <h2>Lista de Televisores</h2>
      <ul>
        <li *ngFor="let televisor of televisores">
          <div class="televisor-card">
            <h3>{{ televisor.marca }}</h3>
            <p>Tamaño: {{ televisor.tamanoPantalla }}</p>
            <p>Resolución: {{ televisor.resolucion }}</p>
            <p>Descripción: {{ televisor.descripcion }}</p>
            <p>Funciones Adicionales: {{ televisor.funcionesAdicionales }}</p>
            <p>Precio: {{ televisor.precio | currency }}</p>
            <p>Garantía: {{ televisor.descripcionGarantia }}</p>
            <p>Fecha de Creación: {{ televisor.fechaCreacion | date }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  